@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet" />
</head>
<body>
    <div id='calendar'></div>
</body>

@section Scripts {
    <!-- FullCalendar JavaScript -->
    @* <script src="~/lib/fullcalendar/interaction/index.global.js></script> *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                // plugins = { 'interaction','dayGrid', 'timeGrid', 'list','bootstrap'},
                initialView: 'timeGridWeek',
                themeSystem: 'bootstrap',
                // bootstrapFontAwesome: {
                //     dayGridMonth: 'calendar',
                //     prev: 'fa-chevron-circle-left',
                //     next: 'fa-chevron-circle-right',
                //     listWeek: 'fa-list'
                // },
                locale: 'tr',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    //listDay, listWeek, listMonth, listYear

                },
                footer: {
                    left: 'prevYear',
                    right: 'NextYear'
                },
                //scrollTime: '08:00:00',
                // Saat aralığı oluşturma
                minTime: '08:00:00',
                maxTime: '21:00:00',

                //Saat aralıkları formatını değiştirme
                // slotDuration: '00:15:00', //zaman aralıklarını belirler
                // slotLabelInterval: '00:15:00', //listede yazan saat başlıkları
                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                //     omitZeroMinute: true,
                //     meridiem: 'short' //am or pm
                },

                //daygrid
                fixedWeekCount: true,
                showNonCurrentDates: false,


                //Yeniden Boyutlandırma
                // handleWindowResize: true,
                // windowResizeDelay: 1000,
                // windowResize: function (view) {
                //     alert('Takvim yeniden boyutlandırıldı.');
                // },

                // height: 450,
                // contentHeight: 650,
                // aspectRatio: 1.2, //en-boy oranı

                allDaySlot: false,
                firstDay: 1,
                buttonText: {
                    today:  'Bugün',
                    month:  'Ay',
                    week:   'Hafta',
                    day:    'Gün',
                    list:   'Liste'
                },

                customButtons: {
                    getDate:{
                        text: 'date',
                        click: function () {
                            var date = new Date();
                            alert(date);
                        }
                    }
                },
                timeZone : "UTC",
                events: [
                    {
                        id: 'x',
                        title: 'Ders',
                        start: '2024-12-15T08:00:00.000Z',
                        end: '2024-12-15T10:00:00.000Z'
                    },
                    {
                        title: 'Etkinlik 2',
                        start: '2024-12-10',
                        end: '2024-12-12'
                    }
                ],
                selectable: true,
                select: function (selectionInfo) {
                    //kod
                }
            });
            calendar.render();
        });
    </script>
}
</html>
