@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet" />
</head>
<body>
    <div id='calendar'></div>
</body>

@section Scripts {
    <!-- FullCalendar JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap',
                locale: 'tr',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                footer: {
                    left: 'prevYear',
                    right: 'NextYear'
                },
                allDaySlot: false,
                firstDay: 1,
                buttonText: {
                    today:  'Bugün',
                    month:  'Ay',
                    week:   'Hafta',
                    day:    'Gün',
                    list:   'Liste'
                },
                events: [
                    {
                        title: 'Etkinlik 1',
                        start: '2024-12-05'
                    },
                    {
                        title: 'Etkinlik 2',
                        start: '2024-12-10',
                        end: '2024-12-12'
                    }
                ]
            });
            calendar.render();
        });
    </script>
}
</html>
