@model SecretaryViewModel
@{
    ViewData["Title"] = "Dentist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Randevu Detayları</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="currentDentistId" value="@Model.User.Id" />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Başlangıç Tarihi: </label>
                            <input disabled id="inputStartDateDetail" type="text" class="form-control flatpickr" placeholder="Başlangıç Tarihi Seçin" />
                            @* FlatPickr *@

                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Bitiş Tarihi: </label>
                            <input disabled id="inputEndDateDetail" type="text" class="form-control flatpickr" placeholder="Bitiş Tarihi Seçin" />
                            @* FlatPickr *@
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Hasta Ad: </label>
                            <input disabled id="inputPatientNameDetail" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Hasta Soyad: </label>
                            <input disabled id="inputPatientSurnameDetail" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Açıklama: </label>
                            <input disabled id="inputDescriptionDetail" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Diş Hekimi: </label>
                            <select disabled id="selectDentistIdDetail" class="form-control" asp-items="@Model.DentistsSelectList">
                                <option value="0">Lütfen diş hekimini seçiniz.</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnDelete" type="button" class="btn btn-outline-danger">Sil</button>
                <button id="btnUpdate" type="button" class="btn btn-outline-primary">Güncelle</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <h5 class="card-title">Diş Hastanesi</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.User.Name @Model.User.Surname</h6>
                <p class="card-text">Diş hastanesi randevu sistemine hoş geldiniz.</p>
                <a asp-action="Logout" asp-controller="Account" class="card-link">Çıkış Yap</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div id="calendar">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            //FlatPickr Başlangıç Tarihi Ayarı
            flatpickr("#inputStartDate", {
                enableTime: true,           //Saat seçimi aktif
                dateFormat: "d.m.Y H:i",    //Tarih formatı
                time_24hr: true,            //24 saat formatı
                locale: "tr",                //Dil desteği
                onChange: function (selectedDates, dateStr, instance) {
                    if (selectedEvent) {
                        selectedEvent.start = selectedDates[0];
                    }
                }
            });

            //FlatPickr Bitiş Tarihi Ayarı
            flatpickr("#inputEndDate", {
                enableTime: true,
                dateFormat: "d.m.Y H:i",
                time_24hr: true,
                locale: "tr",
                onChange: function (selectedDates, dateStr, instance) {
                    if (selectedEvent) {
                        selectedEvent.end = selectedDates[0];
                    }
                }
            });

            var calendarEl = document.getElementById('calendar');

            var selectedEvent = null;

            var events = [];

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                timeZone: 'local',
                themeSystem: 'bootstrap',

                // bootstrapFontAwesome: {
                //     dayGridMonth: 'calendar',
                //     prev: 'fa-chevron-circle-left',
                //     next: 'fa-chevron-circle-right',
                //     listWeek: 'fa-list'
                // },

                locale: 'tr',

                headerToolbar: {
                    left: 'prev,next today addEvent',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },

                customButtons: {
                    addEvent: {
                        text: 'Ekle',
                        click: function () {
                            var newEvent = {
                                id: 'a',
                                title: 'New Event',
                                start: flatpickr.formatDate(new Date(), "Y-m-d H:i"),
                                end: flatpickr.formatDate(new Date(), "Y-m-d H:i")
                            };

                            calendar.addEvent(newEvent);
                        }
                    }
                },

                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                },

                footer: {
                    left: 'prevYear',
                    right: 'NextYear'
                },

                snapDuration: '00:30:00',

                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                },

                fixedWeekCount: true,
                showNonCurrentDates: false,

                allDaySlot: false,
                firstDay: 1,
                buttonText: {
                    today: 'Bugün',
                    month: 'Ay',
                    week: 'Hafta',
                    day: 'Gün',
                    list: 'Liste'
                },

                events: [],
                selectable: false,
                
                eventClick: function (info) {
                    selectedEvent = {
                        id: info.event.id,
                        start: moment(info.event.start).format('YYYY-MM-DD HH:mm'),
                        end: moment(info.event.end).format('YYYY-MM-DD HH:mm'),
                        patientName: info.event.extendedProps.patientName,
                        patientSurname: info.event.extendedProps.patientSurname,
                        description: info.event.extendedProps.description,
                        dentistId: info.event.extendedProps.userId
                    };

                    $('#selectDentistIdDetail').val(info.event.extendedProps.userId);
                    $('#inputStartDateDetail').val(moment(info.event.start).format('DD/MM/YYYY HH:ss'));
                    $('#inputEndDateDetail').val(moment(info.event.end).format('DD/MM/YYYY HH:ss'));
                    $('#inputPatientNameDetail').val(info.event.extendedProps.patientName);
                    $('#inputPatientSurnameDetail').val(info.event.extendedProps.patientSurname);
                    $('#inputDescriptionDetail').val(info.event.extendedProps.description);

                    $('#detailModal').modal('show');
                },

                editable: false
            });

            calendar.render();
            getAppointmentsByDentist();

            function getAppointmentsByDentist() {
                var id = document.getElementById('currentDentistId').value;
                $.ajax({
                    type: 'GET',
                    url: '/Appointment/GetAppointmentsByDentist?userId=' + id,
                    success: function (response) {
                        events = [];
                        var sources = calendar.getEventSources();
                        for (var i = 0; i < sources.length; i++) {
                            sources[i].remove();
                        }
                        for (var i = 0; i < response.length; i++) {
                            events.push({
                                id: response[i].id,
                                title: response[i].dentist,
                                patientName: response[i].patientName,
                                patientSurname: response[i].patientSurname,
                                start: response[i].startDate,
                                end: response[i].endDate,
                                description: response[i].description,
                                color: response[i].color, //event'leri renklendirmek için
                                userId: response[i].userId
                            });
                        }
                        calendar.addEventSource(events);
                    },
                    error: function () {
                        $('#saveModal').modal('hide');
                        alertify.error('Randevunuz eklenirken bir hata oluştu!');
                    }
                });
            }
            
        });
    </script>
}

