@model SecretaryViewModel
@{
    ViewData["Title"] = "Secretary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <h5 class="card-title">Diş Hastanesi</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.User.Name @Model.User.Surname</h6>
                <p class="card-text">Diş hastanesi randevu sistemine hoş geldiniz.</p>
                <a asp-action="Logout" asp-controller="Account" class="card-link">Çıkış Yap</a>
            </div>
        </div>
        <br />
        <ul class="list-group">
            @foreach (var item in Model.Dentists)
            {
                <li class="list-group-item">Dt. @item.Name @item.Surname <button class="btn btn-sm pull-right" style="background-color:red"></button></li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div id="calendar">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                themeSystem: 'bootstrap',

                bootstrapFontAwesome: {
                    dayGridMonth: 'calendar',
                    prev: 'fa-chevron-circle-left',
                    next: 'fa-chevron-circle-right',
                    listWeek: 'fa-list'
                },

                locale: 'tr',

                headerToolbar: {
                    left: 'prev,next today addEvent',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },

                customButtons: {
                    addEvent: {
                        text: 'Ekle',
                        click: function () {
                            var newEvent = {
                                id: 'a',
                                title: 'New Event',
                                start: '2024-12-15T08:00:00.000Z',
                                end: '2024-12-15T10:00:00.000Z'
                            }

                            calendar.addEvent(newEvent);
                        }
                    }
                },

                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                },

                footer: {
                    left: 'prevYear',
                    right: 'NextYear'
                },

                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                },

                fixedWeekCount: true,
                showNonCurrentDates: false,

                allDaySlot: false,
                firstDay: 1,
                buttonText: {
                    today: 'Bugün',
                    month: 'Ay',
                    week: 'Hafta',
                    day: 'Gün',
                    list: 'Liste'
                },

                timeZone: 'local',
                events: [
                    {
                        id: 'x',
                        title: 'Etkinlik 1',
                        start: '2024-12-15T08:00:00',
                        end: '2024-12-15T10:30:00'
                    },
                    {
                        id: 'y',
                        title: 'Etkinlik 2',
                        start: '2024-12-15T13:00:00',
                        end: '2024-12-15T15:30:00'
                    }
                ],

                selectable: true,
                droppable: true,
                select: function (selectionInfo) {
                    console.log("Seçilen Zaman Dilimi:", selectionInfo.startStr, "-", selectionInfo.endStr);
                },
                eventClick: function (info) {
                    alert(info.event.title);
                },

                editable: true
            });

            calendar.render();
        });
    </script>
}